{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-default/default.css"
      rel="stylesheet"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <title>{{template "title" .}} | BookStop Admin</title>
  </head>
  <body>
    <header>
      <h1><a href="/admin">BookStop</a>/{{template "title" .}}</h1>
    </header>
    <main>{{template "main" .}}</main>
    <footer>
      <p>© 2021 SSTeam212. All rights reserved.</p>
    </footer>
    <script>
      const err = new URL(window.location).searchParams.get("error");
      if (err) {
        Swal.fire({
          icon: "error",
          title: "Something went wrong",
          text: err,
        });
      }
    </script>
  </body>
</html>
{{end}}
