{{template "base" .}} {{define "title"}}Browse{{end}} {{define "main"}}
<h2>Create Browse</h2>
<form method="post">
  <label for="new-name">Name</label>
  <input required id="new-name" name="name" minlength="1" maxlength="100" />
  <label for="new-description">Description</label>
  <textarea
    required
    id="new-description"
    name="description"
    minlength="1"
    maxlength="160"
    rows="2"
  ></textarea>
  <label for="new-started-at">Started at</label>
  <input required id="new-started-at" name="started_at" type="datetime-local" />
  <label for="new-ended-at">Ended at</label>
  <input required id="new-ended-at" name="ended_at" type="datetime-local" />
  <input type="submit" value="Submit" />
  <input type="reset" value="Reset" />
</form>
<h2>All Browses</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Browses }}
    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .Description }}</td>
      <td>{{ .StartedAt.Format "2006-01-02T15:04:05Z07:00" }}</td>
      <td>{{ .EndedAt.Format "2006-01-02T15:04:05Z07:00" }}</td>
      <td>
        <a href="/admin/browse/{{ .ID }}">Edit</a>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{end}}
