{{template "base" .}} {{define "title"}}Event{{end}} {{define "main"}}
<h2>Create Event</h2>
<form method="post">
  <label for="new-title">Title</label>
  <input required id="new-title" name="title" minlength="1" maxlength="200" />
  <label for="new-description">Description</label>
  <textarea required id="new-description" name="description" minlength="1" maxlength="2000"></textarea>
  <label for="new-href">URL</label>
  <input type="url" required id="new-href" name="href" minlength="1" />
  <label for="new-user-id">User ID</label>
  <input type="number" required id="new-user-id" name="user_id" min="1" />
  <label for="new-started-at">Started At</label>
  <input required id="new-started-at" name="started_at" type="datetime-local" />
  <label for="new-ended-at">Ended At</label>
  <input required id="new-ended-at" name="ended_at" type="datetime-local" />
  <input type="submit" value="Submit" />
  <input type="reset" value="Reset" />
</form>
<h2>All Events</h2>
<table style="table-layout: auto">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>URL</th>
      <th>User ID</th>
      <th>Started At</th>
      <th>Ended At</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Events }}
    <tr>
      <td>{{ .ID.Int }}</td>
      <td>{{ .Title.String }}</td>
      <td>{{ .Description.String }}</td>
      <td>{{ .Href.String }}</td>
      <td>{{ .UserID.Int }}</td>
      <td>{{ .StartedAt.Time.Format "2006-01-02T15:04:05Z07:00" }}</td>
      <td>{{ .EndedAt.Time.Format "2006-01-02T15:04:05Z07:00" }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{end}}