{{template "base" .}} {{define "title"}}Home{{end}} {{define "main"}}
<h2>Browse</h2>
<p>Curating browse sections content on bookstop.app</p>
<a href="/admin/browse">Open</a>
<h2>Inventory</h2>
<p>Manage book inventory</p>
<a href="/admin/inventory">Open</a>
<h2>Check In</h2>
<p>Use this flow to check in a book and reward credit to the user</p>
<a href="/admin/check-in">Open</a>
<h2>Check Out</h2>
<p>Use this flow to check out a book to a user</p>
<a href="/admin/check-out">Open</a>
<h2>Books</h2>
<p>All loaded books from Google Books</p>
<a href="/admin/book">Open</a>
{{end}}
