{{template "base" .}} {{define "title"}}User{{end}} {{define "main"}}
<h2>All users ({{len .Users}})</h2>
<div>
  <input id="show-email" type="checkbox" />
  <label for="show-email">Show email</label>
</div>
<table style="table-layout: auto">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Credit</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Users }}
    <tr>
      <td>{{ .ID.Int }}</td>
      <td><small>Hidden for privacy</small></td>
      <td>{{ .Name.String }}</td>
      <td>{{ .Credit.Int }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{end}}
